## Learning Python Programming

In [2]:
a=10
print(a)
print("Hello Word")
print(a)

10
Hello Word
10

## Print Statement

In [3]:
print("Hello")
print("World")

Hello
World

In [4]:
print("Hello World")

Hello World

In [5]:
print("Hello \nWorld")

Hello
World

## Variables

In [6]:
a = 10
b = 20
sum = a+b
print(sum)

30

In [7]:
acb1 = 10
ab_c1 = 10
# 12_abc = 10 not valid

## Assigning Different type of Data to a variable .

In [8]:
a = 10
a = 20
a = "Abhinav"
# a = 12abc invalid
print(a)

Abhinav

In [9]:
print(type(a))
a = 50
print(type(a))

<class 'str'>
<class 'int'>

## Pyton Numbers

In [10]:
a1 = 23
a2 = 3.4
a3 = a1 + a2
print(a1)
print(a2)
print(a3)

a4 = 4 + 5j
print(a4)

print(type(a1))
print(type(a2))
print(type(a3))
print(type(a4))

23
3.4
26.4
(4+5j)
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

In [11]:
a = 10
a = a+1
print(a)

11

## ID -Command

In [12]:
a = 10
print(id(a))
a = a+1
print(a)
print(id(a))

140718524930776
11
140718524930808

In [13]:
a = 10 
b = 10
print(id(a))
print(id(b))

## if two numbers having same value (-5 to 256) then it will assign same id to them .

140718524930776
140718524930776

## Input from user

In [14]:
a = input()
print(a)

5

In [15]:
a = input()
b = input()
s = a+b
print(s)

55

In [16]:
type(a)

str

In [17]:
a = "23"
b = int(a)
type (b)

int

In [18]:
a = int(3.4)
print(a)

3

In [19]:
a = int(input('Enter the value of a : '))
b = float(input("Enter the value of b : "))
sum = a+b
print(sum)

10.0

In [20]:
a = "4.5"
int(float(a))

4

## 1) Program to find Avergae marks of three subjects

In [21]:
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
c = int(input("Enter the value of c : "))
avg = (a + b + c)/3
print("Average of three subjects is given by : ",avg)

Average of three subjects is given by :  1.0

## 2) Program to find X raised to power N

In [22]:
x = int(input("Enter the value of X : "))
n = int(input("Enter the value of n : "))
print("X raised to power N is : ",x**n)

X raised to power N is :  1

## 3) Program to find common difference in AP series.

In [23]:
a1 = int(input("Enter the value of a1 : "))
a2 = int(input("Enter the value of a2 : "))
a3 = int(input("Enter the value of a3 : "))
print("The Common Diff is : ", a2-a1)

The Common Diff is :  0

## 4) Program to find rectangular area.

In [24]:
## as we have given the rectangle cooredinates .
x1 = int(input("Enter the value of x1"));
x2 = int(input("Enter the value of x2"));
y1 = int(input("Enter the value of y1"));
y2 = int(input("Enter the value of y2"));
length = x2-x1
breath = y2-y1
print("Reactangular area is : ", length * breath)

Reactangular area is :  4